tbody {
	tr {
		&:hover {
			background-color: #5f2c82;
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
			
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: #49a09d;
			}
		}
	}
}
